<div id="app">
  <div data-controller="referral" data-referrals="<%= @referrals.to_json %>"  data-token="<%= form_authenticity_token %>"  data-referrals-path="<%= referrals_path %>">
  </div>
</div>




